* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
    background: #08090f;
}


/* BOOT */

#boot {
    position: fixed;
    inset: 0;

    background: #08090f;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    z-index: 999999;
}

.logo {
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 10px;
    margin-bottom: 25px;
}

.bar {
    width: 220px;
    height: 5px;

    background: #292929;

    border-radius: 10px;

    overflow: hidden;
}

.bar::after {
    content: "";

    display: block;

    width: 50%;
    height: 100%;

    background: #7657ff;

    animation: loading 1.2s infinite;
}

@keyframes loading {

    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(300%);
    }

}

#boot p {
    opacity: 0.6;
}


/* DESKTOP */

#desktop {
    display: none;

    position: fixed;

    inset: 0;
}


/* BACKGROUND */

.background {
    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            135deg,
            #08090f,
            #19172d,
            #092f40
        );
}


/* START MENU */

#startMenu {
    display: none;

    position: absolute;

    left: 15px;
    bottom: 70px;

    width: 340px;

    padding: 20px;

    background: #151720;

    border: 1px solid #383b49;

    border-radius: 16px;

    z-index: 9000;

    box-shadow:
        0 20px 60px #000;
}

#startMenu h2 {
    margin-top: 0;
}

#appSearch {
    width: 100%;

    padding: 12px;

    border-radius: 9px;

    border: 1px solid #444;

    background: #20222d;

    color: white;

    outline: none;

    margin-bottom: 15px;
}

.apps {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 8px;
}

.apps button {
    border: 0;

    border-radius: 10px;

    background: #20222d;

    color: white;

    padding: 15px 5px;

    cursor: pointer;
}

.apps button:hover {
    background: #303342;
}

.apps span {
    display: block;

    margin-top: 6px;

    font-size: 12px;
}


/* TASKBAR */

#taskbar {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;

    height: 60px;

    display: flex;

    align-items: center;

    padding: 7px;

    background: #090a10;

    border-top: 1px solid #333;

    z-index: 8000;
}

#start {
    width: 46px;
    height: 46px;

    border: 0;

    border-radius: 10px;

    background: #20222d;

    color: white;

    font-size: 22px;

    cursor: pointer;
}

#tasks {
    flex: 1;

    display: flex;

    gap: 6px;

    margin-left: 8px;
}

.task {
    border: 0;

    border-radius: 9px;

    padding: 10px 14px;

    background: #20222d;

    color: white;

    cursor: pointer;
}

#clock {
    padding: 10px;

    font-size: 14px;
}


/* WINDOWS */

.window {
    position: absolute;

    left: 50%;
    top: 45%;

    transform:
        translate(-50%, -50%);

    width:
        min(850px, calc(100vw - 20px));

    height:
        min(600px, calc(100vh - 90px));

    background: #11131c;

    border: 1px solid #383b49;

    border-radius: 14px;

    overflow: hidden;

    box-shadow:
        0 25px 70px #000;

    display: flex;

    flex-direction: column;

    z-index: 100;
}

.titlebar {
    height: 50px;

    display: flex;

    align-items: center;

    padding: 0 12px;

    background: #171923;

    border-bottom:
        1px solid #30323d;
}

.titlebar b {
    flex: 1;

    margin-left: 8px;
}

.close {
    width: 35px;
    height: 30px;

    border: 0;

    border-radius: 7px;

    background: #252733;

    color: white;

    cursor: pointer;
}

.windowBody {
    flex: 1;

    padding: 18px;

    overflow: auto;
}


/* BROWSER */

.browserBar {
    display: flex;

    gap: 8px;

    margin-bottom: 12px;
}

.browserBar input {
    flex: 1;

    padding: 11px;

    border-radius: 9px;

    border: 1px solid #444;

    background: #20222d;

    color: white;
}

.browserBar button,
.primary {
    border: 0;

    border-radius: 9px;

    padding: 10px 15px;

    background: #7657ff;

    color: white;

    cursor: pointer;
}

.browserFrame {
    width: 100%;
    height: calc(100% - 65px);

    border: 0;

    background: white;

    border-radius: 9px;
}


/* FILES */

.file {
    padding: 14px;

    margin: 8px 0;

    background: #20222d;

    border-radius: 9px;
}


/* STORE */

.storeItem {
    display: flex;

    align-items: center;

    gap: 15px;

    padding: 15px;

    margin-bottom: 10px;

    background: #20222d;

    border-radius: 10px;
}

.storeItem div {
    flex: 1;
}


/* SETTINGS */

.setting {
    display: flex;

    justify-content: space-between;

    padding: 15px 0;

    border-bottom: 1px solid #30323d;
}


@media(max-width:600px) {

    #startMenu {
        width: calc(100vw - 30px);
    }

    .window {
        width: calc(100vw - 12px);

        height:
            calc(100vh - 75px);
    }

}
