* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: white;
  background: #090b12;
}

/* BOOT SCREEN */

#boot {
  position: fixed;
  inset: 0;
  background: #090b12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

#boot h1 {
  font-size: 55px;
  letter-spacing: 8px;
  margin: 0 0 25px;
}

.loading {
  width: 220px;
  height: 5px;
  background: #292929;
  border-radius: 10px;
  overflow: hidden;
}

.loading::after {
  content: "";
  display: block;
  height: 100%;
  width: 50%;
  background: #7657ff;
  animation: load 1.2s infinite;
}

@keyframes load {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(300%);
  }
}

/* DESKTOP */

#desktop {
  display: none;
  position: fixed;
  inset: 0;
}

/* WALLPAPER */

#wallpaper {
  position: absolute;
  inset: 0;

  background:
    linear-gradient(
      135deg,
      #080910 0%,
      #17152d 50%,
      #082c3b 100%
    );

  z-index: 0;
}

/* TASKBAR */

#taskbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 60px;

  display: flex;
  align-items: center;

  padding: 7px;

  background: rgba(8, 9, 15, 0.97);

  border-top: 1px solid #333;

  z-index: 5000;
}

#startButton {
  width: 46px;
  height: 46px;

  border: none;
  border-radius: 10px;

  color: white;
  background: #20222c;

  font-size: 22px;

  cursor: pointer;
}

#startButton:active {
  background: #303342;
}

#tasks {
  flex: 1;
  margin-left: 8px;

  display: flex;
  gap: 5px;
}

.task {
  border: none;
  border-radius: 9px;

  padding: 10px 14px;

  color: white;
  background: #20222c;

  cursor: pointer;
}

#clock {
  padding: 10px;
  font-size: 14px;
}

/* APP LAUNCHER */

#launcher {
  position: absolute;

  left: 15px;
  bottom: 70px;

  width: 340px;

  padding: 20px;

  background: #151720;

  border: 1px solid #383a45;

  border-radius: 16px;

  display: none;

  z-index: 6000;

  box-shadow: 0 15px 50px #000;
}

#launcher h2 {
  margin-top: 0;
}

#launcher input {
  width: 100%;

  padding: 12px;

  border-radius: 9px;

  border: 1px solid #444;

  background: #20222c;

  color: white;

  outline: none;

  margin-bottom: 15px;
}

.apps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9px;
}

.apps button {
  padding: 15px 5px;

  border: none;

  border-radius: 10px;

  color: white;

  background: #20222c;

  cursor: pointer;
}

.apps button:hover {
  background: #303342;
}

/* WINDOWS */

.window {
  position: absolute;

  width: min(850px, calc(100vw - 20px));
  height: min(600px, calc(100vh - 90px));

  left: 50%;
  top: 45%;

  transform: translate(-50%, -50%);

  background: #11131c;

  border: 1px solid #383a45;

  border-radius: 14px;

  box-shadow: 0 25px 70px #000;

  overflow: hidden;

  display: flex;
  flex-direction: column;

  z-index: 100;
}

.titlebar {
  height: 50px;

  display: flex;
  align-items: center;

  padding: 0 12px;

  background: #171923;

  border-bottom: 1px solid #30323d;
}

.titlebar b {
  flex: 1;
  margin-left: 8px;
}

.close {
  border: none;

  background: #252733;

  color: white;

  width: 35px;
  height: 30px;

  border-radius: 7px;

  cursor: pointer;
}

.windowBody {
  flex: 1;
  overflow: auto;
  padding: 18px;
}

/* BROWSER */

.browserBar {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.browserBar input {
  flex: 1;

  padding: 11px;

  background: #20222c;

  border: 1px solid #444;

  color: white;

  border-radius: 9px;
}

.browserBar button,
.primary {
  border: none;

  padding: 10px 15px;

  border-radius: 9px;

  color: white;

  background: #7657ff;

  cursor: pointer;
}

.browserFrame {
  width: 100%;
  height: calc(100% - 65px);

  border: none;

  background: white;

  border-radius: 9px;
}

/* FILES */

.file {
  padding: 14px;

  margin: 8px 0;

  border-radius: 9px;

  background: #20222c;
}

/* STORE */

.storeItem {
  display: flex;
  align-items: center;

  gap: 15px;

  padding: 15px;

  margin-bottom: 10px;

  border-radius: 10px;

  background: #20222c;
}

.storeItem div {
  flex: 1;
}

/* SETTINGS */

.setting {
  display: flex;
  justify-content: space-between;

  padding: 15px 0;

  border-bottom: 1px solid #30323d;
}

/* MOBILE */

@media (max-width: 600px) {

  #launcher {
    width: calc(100vw - 30px);
  }

  .window {
    width: calc(100vw - 12px);
    height: calc(100vh - 75px);
  }

    }
